mixin header(titleName)
  doctype html
  - var pages = {"Explore":"index","About":"about","FAQ":"faq"}
  html
    head
      title=titleName
        |  | The Cost of Knowledge
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="shortcut icon", href="img/favicon.ico")
      each page, name in pages
        if name==titleName
          link(rel="stylesheet", href="index.css")
    body
      .inner
        .header
          .logo
          .menu
            ul
              each page, name in pages
                li.menuItem
                  if name==titleName
                    a.current(href='#')=name
                  else
                    a(href=page + ".html")=name
        block
