include _header.pug
+header("FAQ")
  section#baseline
    .typeset.section
      h4 How do I use the search feature?
      p Type in a specific county and all of the counties that don’t apply will disapear. This allows a

      h4 What information can be found in the sidebars?
      p Graphs depicting how the school funding correlates to test scores and other information regarding each county.

      h4 How do I navigate the website?
      p Click on individual counties to zoom in. Click x to zoom back out.

      h4 Where can I find the raw data/spreadsheets?
      p The files can be downloaded in the about page or can be accessed on vadoe.org.

      h4 What is the overall objective/lesson to be learned with this data?
      p This data shows the impact of a school’s budget on the student’s SOL grades. It covers multiple groups of students including special ed and

      h4 What do the colors on the heatmap represent?
      p The red illustrates zones in which contain low school funding. In contrast, the green areas display zones that receive generous amounts of school funding.

      h4 How can I view/filter the data by year?
