include _header.pug
+header("FAQ")
  section#baseline
    .typeset.section
      h4 How do I use the search feature?
      p Type in a specific county and all of the counties that are not similar to the query will disapear. This allows precise location of counties/

      h4 What information can be found in the sidebars?
      p Graphs depicting change in funding, scores, and income breakdown and how they change over time 

      h4 How do I navigate the website?
      p Click on individual counties to zoom in and see more info. Click again to zoom back out.

      h4 Where can I find the raw data/spreadsheets?
      p The files can be downloaded in the about page or can be accessed on the VDOE website.

      h4 What is the overall objective/lesson to be learned with this data?
      p This data shows the impact of a funding as well as spending on the student’s performance, measured by SOL scores.  This can be use to better allocate funds in the future.

      h4 What do the colors mean?
      p Higher values shift towards green and lower shift towards red.  Colors are decided based on median values.
      
      h4 How can I view different years or metrics?
      p Using the menu under the search bar, you can change year and sorting.
