include _header.pug
+header("Explore")
  #sidebar.focus
    section#baseline
      .section.typeset
        #analysis
          h2 PLACE
          canvas#income(style="height: 10rem")
          p Total Income in Dollars per Student
          canvas#scores(style="height: 20rem")
          p Average SOL Scores
          canvas#allocation(style="height: 20rem")
          p Breakdown of Income Sources
          br
          small 
            b SOQ fund includes:
            | Sales tax; basic aid; remedial summer school; career and technical education; gifted education; special education; prevention, intervention, and remediation; fringe benefits
          br
          small 
            b Incentive Accounts funds includes:
            | governor's school academic year; governor's school summer programs; special education- vocational education; special education endorsement program; clinical faculty; career switcher mentoring grants; VSPA technology grants; VA workplace readiness skills assessment; Compensation supplement/strategic comp grant; early reading specialist initiative; school security equipment
          br
          small 
            b Categorical funds includes:
            | Adult education; school lunch; special education state-operated programs; American Indian Treaty Commitment; adult literacy; special education homebound; special education local jails; virtual virginia; 
          br
          small 
            b Lottery funds includes:
            | foster care; early reading intervention; at-risk; K-3 preschool initiative; SOL Algebra Readiness; alternative education; ISAEP; regional tuition programs - special education; Career and technical programs; race to GED; industry certification costs; middle school teacher corps; mentor teacher programs; project graduation; basic aid; remedial summer school; ESL; school breakfast; textbooks

  #map.focus
  .map-overlay
    #omnibox
      .typeset
        input#search(type='text', placeholder='Search for a place...')
        h4 Place
        p Funds per Capita (14-15): 
        p Average SOL Scores (14-15):
        ul
          li Writing: 
          li Reading: 
          li History: 
          li Math: 
          li Science: 
    #menubox
      form.typeset
        a#perform(href="#", style="text-decoration: underline") Performance
        br
        a#fund(href="#") Funding
        br
        a#achieve(href="#") Achievement
        br
        select(name='year')
          option(value='2011') 2011-2012
          option(value='2012') 2012-2013
          option(value='2013') 2013-2014
          option(value='2014', selected) 2014-2015
  //- .map-legend
  //-   center
  //-     span Upper
  //-     .gradient
  //-     span Lower
script(src='app.js')
