include _header.pug
+header("Explore")
  #sidebar.focus
    section#baseline
      .section.typeset
        .single-measure
          #analysis
            p
              | Hello World!
  #map.focus
  .map-overlay
    .typeset
      input#search(type='text', placeholder='Search for a place...')
      h4 Place
      p INFO
script(src='app.js')
