#map
  height: calc(100vh - 4rem - 19px)
  transition: right, 0.5s, cubic-bezier(0.4, 0, 0.2, 1)

#map.focus
    width: 67vw
    float: left
    transition: 0.5s, cubic-bezier(0.4, 0, 0.2, 1)

.map-legend
  top: calc(29px + 4rem)
  right: 10px
  padding: 10px 10px 5px 10px
  position: absolute
  box-shadow: 0 1px 2px rgba(0,0,0,0.10)
  background-color: $backgroundColor
  transition: 0.5s, cubic-bezier(0.4, 0, 0.2, 1)
  border-radius: 3px
  font-family: unquote(map-get($headingtype, font-family))
  font-feature-settings: 'dlig', 'liga', 'tnum', 'kern'
  font-style: normal
  +fontsize(12, 0)

.bar
  width: 1rem

// TEMP
.map-overlay
  top: calc(29px + 4rem)
  left: 10px
  padding: 10px 10px 5px 10px
  position: absolute

  #menubox, #omnibox
    box-shadow: 0 1px 2px rgba(0,0,0,0.10)
    background-color: $backgroundColor
    transition: 0.5s, cubic-bezier(0.4, 0, 0.2, 1)
    border-radius: 3px

  #menubox
    margin-top: 0.5rem
    padding: 0.5rem 0.5rem 0 0.5rem
    float: left

  #omnibox
    padding: 10px 10px 5px 10px

  .typeset
    transition: 0.5s, cubic-bezier(0.4, 0, 0.2, 1)

    #search
      background: none
      border: none
      transition: 0.5s, cubic-bezier(0.4, 0, 0.2, 1)
      width: 20vw
      padding: 0 0 0 0.5rem
      color: $headingColor
      font-family: unquote(map-get($headingtype, font-family))
      font-feature-settings: 'dlig', 'liga', 'tnum', 'kern'
      font-style: normal
      +fontsize(12, 0)

    #search:focus
      width: 30vw
      outline: none

    font-family: unquote(map-get($headingtype, font-family))
    font-feature-settings: 'dlig', 'liga', 'tnum', 'kern'
    font-style: normal
    +fontsize(12, 0)

    h4
      padding-top: 0
    p
      font-feature-settings: 'kern', 'tnum', 'liga'
      margin-bottom: 0
    ul
      margin-bottom: 0
      padding: 0 0 0 1rem
      list-style-type: none
